openapi: 3.0.0
info:
  version: 1.0.0
  title: 智店开放接口
  description: 智店开放接口，助力商户实现系统深度融合
  contact:
    name: service@dripower.com
    url: 'https://zd.drip.im'
    email: service@dripower.com
servers:
  - url: 'https://zd.drip.im/open/zd'
tags:
  - name: 开放接口
paths:
  /tcard/getById:
    post:
      operationId: getById
      summary: 根据 Id 读取次卡信息
      description: 商户可通过该接口获取次卡详细信息用于展示
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tcardId:
                  type: integer
                  format: int64
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - id
                          - name
                          - imgs
                          - serviceInfo
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: 次卡id
                          locationId:
                            type: integer
                            format: int64
                            description: 所属门店
                          name:
                            type: string
                          imgs:
                            type: array
                            items:
                              type: string
                          price:
                            type: integer
                            format: int64
                            description: 售价(单位分)
                          totalValue:
                            type: integer
                            format: int64
                            description: 次卡总价值（单位分）
                          catIds:
                            type: array
                            description: 次卡类目
                            items:
                              type: integer
                          serviceInfo:
                            type: object
                            required:
                              - services
                            properties:
                              services:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - id
                                    - name
                                  properties:
                                    id:
                                      type: integer
                                      format: int64
                                    name:
                                      type: string
                                    count:
                                      description: 使用总次数
                                      type: integer
                                      format: int32
                          usageInfo:
                            type: object
                            description: 次卡使用信息
                            properties:
                              description:
                                type: string
                                description: 次卡使用说明
                          expire:
                            description: 过期信息
                            oneOf:
                              - type: object
                                properties:
                                  Forever:
                                    type: object
                                    description: 长期有效
                              - type: object
                                properties:
                                  ByRange:
                                    type: object
                                    description: 时间段内有效
                                    properties:
                                      startAt:
                                        type: string
                                        example: '2022-09-01 00:00:00'
                                        description: 开始时间
                                      endAt:
                                        type: string
                                        example: '2022-09-02 00:00:00'
                                        description: 结束时间
                              - type: object
                                properties:
                                  ByDuration:
                                    type: object
                                    description: 领取后一段时间过期
                                    required:
                                      - unit
                                      - duration
                                    properties:
                                      unit:
                                        type: integer
                                        enum:
                                          - 1
                                          - 2
                                        description: |-
                                          时长单位
                                          `1` -- 按天
                                          `2` -- 按月
                                      duration:
                                        type: integer
                                        description: 时长
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-

            错误码
            * `24001` - 次卡不存在
  /tcard/getByIds:
    post:
      operationId: getByIds
      summary: 批量读取次卡信息
      description: 商户可通过该接口批量获取次卡详细信息
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tcardIds:
                  type: array
                  description: 次卡Id列表
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: object
                    description: 读取结果
                    properties:
                      tcards:
                        description: 次卡列表
                        type: array
                        items:
                          $ref: '#/paths/~1tcard~1getById/post/responses/200/content/application~1json/schema/oneOf/0/properties/result'
  /tcard/createOrder:
    post:
      operationId: createOrder
      summary: 创建次卡购买订单
      description: 创建一条未支付的次卡购买订单
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  description: 客户ID
                  type: string
                tcardId:
                  description: 次卡ID
                  type: integer
                  format: int64
                extTradeNo:
                  description: 商户唯一订单号
                  type: string
                originalFee:
                  description: 次卡原价
                  type: integer
                  format: int64
                finalFee:
                  description: 用户实际需支付价格
                  type: integer
                  fomrat: int64
      responses:
        '200':
          description: 订单创建结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        properties:
                          fetchId:
                            description: 次卡购买记录ID
                            type: integer
                            format: int64
                          orderId:
                            description: 智店订单号
                            type: string
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码
            * `24001` - 次卡不存在
            * `24002` - 次卡已过期
            * `24003` - 客户不存在
            * `24004` - 无效次卡
            * `24005` - 次卡领取数量超过限制
  /tcard/confirmOrder:
    post:
      operationId: tcardConfirmOrder
      summary: 确认订单支付成功
      description: 商户系统确认支付成功后通过该接口修改智店订单状态
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                extTradeNo:
                  description: 商户系统单号
                  type: string
                payTime:
                  description: 用户支付时间
                  type: string
                  example: '2000-01-01 00:00:00'
                payType:
                  description: 支付方式，对应智店后台自定义支付方式
                  type: string
                  example: 自定义收款方式
      responses:
        '200':
          description: 订单确认结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
            * `24006` - 订单不存在
            * `24007` - 无效订单
            * `24008` - 发放次卡异常
  /tcard/refundOrder:
    post:
      operationId: refundOrder
      summary: 次卡订单退款
      description: 商户可通过该接口对次卡订单进行退款操作
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - extTradeNo
                - amount
                - reason
                - invalidateTcard
              properties:
                extTradeNo:
                  description: 商户系统单号
                  type: string
                amount:
                  type: integer
                  description: 退款金额，单位分
                reason:
                  type: string
                  description: 退款原因
                invalidateTcard:
                  type: boolean
                  description: 是否作废剩余次数
      responses:
        '200':
          description: 退款结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |

            错误码
            * `24006` - 次卡订单不存在
            * `24009` - 当前有退款正在进行
            * `24010` - 退款金额超出限制
            * `24011` - 支付方式不支持退款
            * `24012` - 支付设置错误
            * `24013` - 退款失败
  /tcard/filter:
    post:
      operationId: filter
      summary: 根据条件过滤次卡
      description: 商户可通过指定子类目 id 列表，以及服务，过滤出相应的次卡
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceId:
                  type: integer
                  format: int64
                  description: 服务 id
                catIds:
                  type: array
                  description: 子类目(不存在下级类目) id 列表
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: object
                    description: 读取结果
                    properties:
                      tcards:
                        description: 次卡列表
                        type: array
                        items:
                          $ref: '#/paths/~1tcard~1getById/post/responses/200/content/application~1json/schema/oneOf/0/properties/result'
  /tcard/use:
    post:
      operationId: Tcard_use
      summary: 核销次卡
      description: 使用（核销）次卡
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - fetchId
                - services
              properties:
                staffId:
                  description: 操作员工id
                  type: integer
                  format: int64
                customerId:
                  description: 客户ID
                  type: string
                fetchId:
                  description: 次卡领取记录id
                  type: integer
                  format: int64
                useScene:
                  description: 使用场景说明(不超过512字符)
                  type: string
                services:
                  description: 使用服务详情
                  type: array
                  items:
                    type: object
                    required: []
                    properties:
                      serviceId:
                        type: integer
                        description: 服务id
                      serviceCount:
                        type: number
                        description: 服务次数（计时模式支持2位定点小数）
                      useCount:
                        type: number
                        description: 次卡扣除次数（通常等于serviceCount，通卡等场景，可根据抵扣系数计算）
      responses:
        '200':
          description: 使用结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - useId
                        properties:
                          useId:
                            type: integer
                            description: 使用记录id
                  - type: object
                    required:
                      - success
                      - code
                      - msg
                    properties:
                      success:
                        type: boolean
                        enum:
                          - false
                      code:
                        type: integer
                        description: 错误码
                      msg:
                        type: string
                        description: 错误信息
        default:
          description: |-
            错误码
            * `24014` 次卡领取记录不存在
            * `24015` 核销服务不存在
            * `24016` 服务次数不足
            * `24017` 领取记录状态错误
            * `24018` 使用时段错误
            * `24019` 领取记录已过期
            * `24020` 次卡使用频率超过限制
            * `24021` 使用异常
  /tcard/send:
    post:
      operationId: Tcard_send
      summary: 发放次卡
      description: 直接发放次卡给客户。注意不会校验领取限制，不触发发卡通知，也不执行赠送逻辑
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - tcardId
                - services
              properties:
                customerId:
                  description: 客户ID
                  type: string
                tcardId:
                  description: 次卡id
                  type: integer
                  format: int64
                sendScene:
                  description: 发放场景说明(不超过512字符)
                  type: string
                payAmount:
                  description: 付款金额(分) (用于计算价值，不填默认为0)
                  type: integer
      responses:
        '200':
          description: 使用结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - fetchId
                        properties:
                          fetchId:
                            type: integer
                            description: 领取记录id
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-

            错误码
            * `24001` 次卡不存在
            * `24022` 发卡员工不存在
            * `24023` 发卡员工不合法
            * `24024` 次卡库存不足
  /tcard/transfer:
    post:
      operationId: Tcard_transfer
      summary: 次卡转卡
      description: 转移次卡领取记录至另一位客户
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fetchId
                - fromCustomerId
                - toCustomerId
                - staffId
              properties:
                fromCustomerId:
                  description: 来源客户id
                  type: string
                fetchId:
                  description: 领取记录id
                  type: integer
                  format: int64
                toCustomerId:
                  description: 目标客户id
                  type: string
                staffId:
                  description: 操作员工id
                  type: integer
                remark:
                  description: 备注
                  type: string
      responses:
        '200':
          description: 转卡结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-

            错误码
            * `24014` 领取记录不存在
            * `24018` 领取记录状态错误
            * `24019` 领取记录已过期
            * `24022` 员工不存在
            * `24023` 员工不合法
            * `24025` 转卡目标和来源相同
  /tcard/getUseRecord:
    post:
      operationId: Tcard_getUseRecord
      summary: 获取使用记录
      description: 获取次卡领取记录的使用记录
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - fetchId
                - page
                - size
              properties:
                customerId:
                  type: string
                  description: 客户id
                fetchId:
                  type: integer
                  description: 领取记录id
                page:
                  type: integer
                  description: 页码
                size:
                  type: integer
                  description: 每页条数（不超过100）
      responses:
        '200':
          description: 使用记录结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - total
                          - records
                        properties:
                          total:
                            type: integer
                            description: 使用记录总数
                          records:
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - type
                                - createAt
                                - outerType
                              properties:
                                id:
                                  type: integer
                                  description: 记录id
                                type:
                                  type: integer
                                  enum:
                                    - -1
                                    - 0
                                    - 1
                                    - 110
                                    - 111
                                    - 112
                                  description: |-

                                    * `-1` 退款
                                    * `0`  消耗
                                    * `1`  充值
                                    * `110` 转卡
                                    * `111` 暂停卡
                                    * `112` 恢复卡
                                useScene:
                                  type: string
                                  description: 使用时传入的使用场景
                                createAt:
                                  type: string
                                  example: '2022-01-01 00:00:00'
                                outerType:
                                  type: integer
                                  enum:
                                    - 0
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                                    - 8
                                    - 9
                                    - 13
                                  description: |-

                                    * `0` 预约消耗
                                    * `1` 收银购买
                                    * `2` 小助手核销
                                    * `3` 管理员后台操作
                                    * `4` 门禁核销
                                    * `5` 课程考勤
                                    * `6` 收银核销出票
                                    * `7` 课程扫码签到
                                    * `8` 课程人脸签到
                                    * `9` 手环机核销
                                    * `13` 接口消耗
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
  /tcard/getFetches:
    post:
      operationId: Tcard_getFetches
      summary: 获取客户的次卡列表
      description: 获取某个客户已领取的次卡记录
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                status:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - -1
                  description: |-

                    * `0`: 有效（包含暂停卡和未激活）
                    * `1`: 已耗尽
                    * `-1`: 已失效
      responses:
        '200':
          description: 订单创建结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - fetches
                        properties:
                          fetches:
                            type: array
                            items:
                              type: object
                              required:
                                - fetchId
                                - tcardId
                                - tcardName
                                - status
                                - expiredAt
                                - createTime
                                - details
                              properties:
                                fetchId:
                                  type: integer
                                  format: int64
                                  description: 次卡领取记录id
                                tcardId:
                                  type: integer
                                  format: int64
                                  description: 次卡id
                                tcardName:
                                  type: 'string,'
                                  description: 次卡名称
                                status:
                                  type: integer
                                  enum:
                                    - 1
                                    - 2
                                    - -5
                                    - -1
                                    - -100
                                  description: |-
                                    * `1` 正常
                                    * `2` 已耗尽
                                    * `-5` 已暂停
                                    * `-100` 未激活
                                startAt:
                                  type: string
                                  example: '2000-01-01 00:00:00'
                                expiredAt:
                                  type: string
                                  example: '2000-01-01 00:00:00'
                                createTime:
                                  type: string
                                  example: '2000-01-01 00:00:00'
                                details:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - serviceId
                                      - serviceName
                                      - count
                                      - unlimited
                                    properties:
                                      serviceId:
                                        type: integer
                                        format: int64
                                        description: 服务id
                                      serviceName:
                                        type: string
                                        description: 服务名称
                                      count:
                                        type: number
                                        description: 剩余数量
                                      unlimited:
                                        type: boolean
                                        description: 是否无限次数
                                outerType:
                                  type: integer
                                  enum:
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                                    - 8
                                    - 9
                                    - 10
                                    - 11
                                    - 12
                                    - 13
                                    - 14
                                    - 15
                                  description: |-

                                    * `1` 会员升级赠送
                                    * `2` 推荐开卡赠送
                                    * `3` 储值赠送
                                    * `4` 群发营销
                                    * `5` 购买次卡赠送
                                    * `6` 小助手售卡
                                    * `7` 收银购买
                                    * `8` 线上购买
                                    * `9` 任务导入
                                    * `10` 群发任务
                                    * `11` 精准群发
                                    * `12` 营销计划
                                    * `13` 班级报名购买
                                    * `14` 转卡
                                    * `15` 接口发卡
                                sharedFromInfo:
                                  description: 原卡主信息（若为分享获得）
                                  type: object
                                  required:
                                    - id
                                    - mobile
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    mobile:
                                      type: string
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
  /tcard/getFetchCode:
    post:
      operationId: Tcard_getFetchCode
      summary: 获取次卡二维码
      description: |
        根据次卡领取记录ID获取对应的二维码和过期时间。

        **注意用户权限检验!**
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: integer
                  format: int64
                  description: 次卡领取记录ID
                refresh:
                  type: boolean
                  description: 是否立刻刷新，若刷新，则旧二维码会失效。
      responses:
        '200':
          description: 领取码结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - code
                          - expired
                        properties:
                          code:
                            type: string
                            description: 次卡二维码
                          expired:
                            type: string
                            format: date-time
                            example: '2000-01-01 00:00:00'
                            description: 过期时间
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码
            * `24014` 领取记录不存在
  /tcard/getShareRecord:
    post:
      operationId: Tcard_getShareRecord
      summary: 获取次卡分享记录
      description: 根据领取记录ID，获取该次卡的分享记录
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fetchId:
                  type: integer
                  format: int64
                  description: 次卡领取记录ID
              required:
                - fetchId
      responses:
        '200':
          description: 分享记录列表
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: array
                        items:
                          type: object
                          required:
                            - fetchId
                            - status
                            - toCustomer
                            - shareTime
                          properties:
                            fetchId:
                              type: integer
                              format: int64
                            status:
                              type: integer
                              description: 分享状态
                            toCustomer:
                              type: object
                              required:
                                - id
                                - mobile
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                  nullable: true
                                mobile:
                                  type: string
                                avatar:
                                  nullable: true
                                  description: 兼容服务端模型的保留字段（若不存在可忽略）
                                  oneOf:
                                    - type: string
                                    - type: 'null'
                            shareTime:
                              type: string
                              example: '2000-01-01 00:00:00'
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            可能的错误码：

            24001 次卡不存在

            24014 次卡领取记录不存在

            24027 次卡不支持分享

            24029 次卡状态异常

            10004 服务器内部错误

            10003 无效请求
  /tcard/bindShare:
    post:
      operationId: Tcard_bindShare
      summary: 绑定次卡分享关系
      description: 为指定的次卡领取记录绑定分享关系
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fromCustomerId
                - fetchId
                - toCustomerId
              properties:
                fromCustomerId:
                  type: string
                  description: 发起分享的客户ID
                fetchId:
                  type: integer
                  format: int64
                  description: 次卡领取记录ID
                toCustomerId:
                  type: string
                  description: 分享接收方的客户ID
      responses:
        '200':
          description: 绑定结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            可能的错误码：

            24001 次卡不存在

            24014 次卡领取记录不存在

            24027 次卡不支持分享

            24028 次卡分享次数超过限制

            24029 次卡状态异常

            24030 已绑定,请勿重复分享

            24003 客户不存在

            10004 服务器内部错误

            10003 无效请求
  /tcard/unbindShare:
    post:
      operationId: Tcard_unbindShare
      summary: 解除次卡分享关系
      description: 解除指定的次卡分享关系
      tags:
        - 次卡
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fromCustomerId
                - fetchId
                - toCustomerId
              properties:
                fromCustomerId:
                  type: string
                  description: 分享发起方客户ID
                fetchId:
                  type: integer
                  format: int64
                  description: 次卡领取记录ID
                toCustomerId:
                  type: string
                  description: 分享接收方客户ID
      responses:
        '200':
          description: 解绑结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            可能的错误码：

            24014 次卡领取记录不存在

            24003 客户不存在

            10004 服务器内部错误

            10003 无效请求
  /edu/class/getSchedules:
    post:
      operationId: getSchedules
      summary: 获取课程记录
      description: 根据 customerId 获取某时间段课程表
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - customerId
                - minStart
                - maxStart
              type: object
              properties:
                customerId:
                  description: 客户id
                  type: string
                minStart:
                  description: 起始时间
                  type: string
                  example: '2000-01-01 00:00:00'
                maxStart:
                  description: 截止时间
                  type: string
                  example: '2000-01-01 00:00:00'
      responses:
        '200':
          description: 课程结果
          content:
            application/json:
              schema:
                required:
                  - success
                  - result
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: object
                    required:
                      - items
                    properties:
                      schedules:
                        type: array
                        items:
                          $ref: '#/paths/~1edu~1class~1getNextSchedule/post/responses/200/content/application~1json/schema/oneOf/0/properties/result'
  /edu/class/getNextSchedule:
    post:
      operationId: getNextSchedule
      summary: 获取最近的课程
      description: 根据 customerId 获取最近即将开始的课程
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - customerId
              type: object
              properties:
                customerId:
                  description: 客户id
                  type: string
      responses:
        '200':
          description: 课程结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - startAt
                          - endAt
                          - className
                          - relatedTeacherIds
                          - classRoomId
                        properties:
                          student:
                            type: object
                            description: 学生基础信息
                            required:
                              - id
                              - name
                              - sex
                              - type
                            properties:
                              id:
                                type: integer
                                format: int64
                              name:
                                type: string
                                description: 姓名
                              nickname:
                                type: string
                                description: 昵称
                              avatar:
                                type: string
                                description: 头像地址
                              sex:
                                type: integer
                                enum:
                                  - 0
                                  - 1
                                description: |-
                                  性别
                                  * `0` - 男
                                  * `1` - 女
                              type:
                                type: integer
                                enum:
                                  - 1
                                  - 2
                                description: |
                                  学员类型
                                  * `1` - 本人
                                  * `2` - 孩子
                          startAt:
                            type: string
                            description: 课程开始时间
                            example: '2000-01-01 00:00:00'
                          endAt:
                            type: string
                            description: 课程结束时间
                            example: '2000-01-01 00:00:00'
                          courseName:
                            type: string
                            description: 课程名称
                          courseType:
                            type: integer
                            enum:
                              - 1
                              - 2
                            description: |-
                              课程类型：
                              * `1` - 预约课
                              * `2` - 班级排课
                          relatedTeacherIds:
                            type: array
                            description: 课程关联的教师id列表
                            items:
                              type: integer
                              format: int64
                          classRoomId:
                            description: 教室id
                            type: integer
                            format: int64
                          nthSchedule:
                            type: integer
                            description: 班级排课序号
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码：
            * `25001` - 暂无课程
  /edu/class/getDetails:
    post:
      operationId: getClassDetails
      summary: 获取教务排课列表
      description: 指定日期，读取改日所有所有的班级开课列表
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - locationId
                - minStart
                - maxStart
              type: object
              properties:
                locationId:
                  description: 门店 ID
                  type: integer
                  format: int64
                minStart:
                  description: 最小开始日期
                  type: string
                  format: date
                maxStart:
                  description: '最大开始日期（包含当天）,时间间隔必须小于等于7天'
                  type: string
                  format: date
                teacherId:
                  description: 教师 Id
                  type: integer
                  format: int64
      responses:
        '200':
          description: 排课结果
          content:
            application/json:
              schema:
                required:
                  - success
                  - result
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: object
                    required:
                      - items
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          required:
                            - classId
                            - startAt
                            - endAt
                            - courseName
                            - courseType
                            - relatedTeacherIds
                            - classRoomId
                            - studentCount
                            - maxStudentCount
                          properties:
                            classId:
                              type: integer
                              format: int64
                              description: 班级id
                            startAt:
                              type: string
                              description: 课程开始时间
                              example: '2000-01-01 00:00:00'
                            endAt:
                              type: string
                              description: 课程结束时间
                              example: '2000-01-01 00:00:00'
                            courseName:
                              type: string
                              description: 课程名称
                            courseId:
                              type: integer
                              description: 课程（对应的服务）ID
                            courseType:
                              type: integer
                              enum:
                                - 1
                                - 2
                              description: |-
                                课程类型：
                                * `1` - 预约课
                                * `2` - 班级排课
                            relatedTeacherIds:
                              type: array
                              description: 课程关联的教师id列表
                              items:
                                type: integer
                                format: int64
                            classRoomId:
                              description: 教室id
                              type: integer
                              format: int64
                            maxStudentCount:
                              description: 班级允许最大学员人数
                              type: integer
                            studentCount:
                              description: 班级当前学员人数
                              type: integer
  /edu/class/listClasses:
    post:
      operationId: Class_listClasses
      summary: 获取班级列表
      description: 获取班级列表
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - page
                - size
              properties:
                status:
                  description: 班级状态 (可选)
                  type: integer
                locationId:
                  description: 门店ID (可选)
                  type: integer
                  format: int64
                page:
                  description: 页码
                  type: integer
                size:
                  description: 每页条数
                  type: integer
      responses:
        '200':
          description: 班级列表结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - classList
                        properties:
                          classList:
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - name
                                - status
                                - maxStudentCount
                                - courseId
                                - locationId
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                  description: 班级ID
                                name:
                                  type: string
                                  description: 班级名称
                                status:
                                  type: integer
                                  description: 班级状态
                                maxStudentCount:
                                  type: integer
                                  format: int64
                                  description: 最大学员数
                                courseId:
                                  type: integer
                                  format: int64
                                  description: 课程ID
                                courseName:
                                  type: string
                                  description: 课程名称
                                classroomId:
                                  type: integer
                                  format: int64
                                  description: 教室ID
                                classRoomName:
                                  type: string
                                  description: 教室名称
                                locationId:
                                  type: integer
                                  format: int64
                                  description: 门店ID
                                registerEnable:
                                  type: boolean
                                  description: 是否允许报名
                                startAt:
                                  type: string
                                  format: date-time
                                  example: '2000-01-01 00:00:00'
                                  description: 班级开始时间
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /edu/student/getByCustomer:
    post:
      operationId: Student_getByCustomer
      summary: 获取关联学员
      description: 商户可通过该接口获取 customer 关联的所有学员
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - customerId
              type: object
              properties:
                customerId:
                  type: string
                  description: 客户 id
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        description: 读取结果
                        properties:
                          students:
                            description: 学员列表
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - name
                                - number
                                - sex
                                - type
                                - customerId
                                - customerMobile
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                name:
                                  type: string
                                  description: 姓名
                                number:
                                  type: string
                                  description: 学员编号
                                customerId:
                                  type: string
                                  description: 学员所属客户id
                                customerMobile:
                                  type: string
                                  description: 学员所属客户手机
                                nickname:
                                  type: string
                                  description: 昵称
                                avatar:
                                  type: string
                                  description: 头像地址
                                sex:
                                  type: integer
                                  enum:
                                    - 0
                                    - 1
                                  description: |-
                                    性别
                                    * `0` - 男
                                    * `1` - 女
                                type:
                                  type: integer
                                  enum:
                                    - 1
                                    - 2
                                  description: |
                                    学员类型
                                    * `1` - 本人
                                    * `2` - 孩子
                                birth:
                                  type: object
                                  $ref: '#/paths/~1edu~1student~1create/post/requestBody/content/application~1json/schema/properties/birth'
                                extInfo:
                                  type: array
                                  description: 附加属性
                                  items:
                                    $ref: '#/paths/~1edu~1student~1create/post/requestBody/content/application~1json/schema/properties/extInfo/items'
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
  /edu/student/create:
    post:
      operationId: studentCreate
      summary: 创建孩子
      description: 商户通过该接口可以创建新的孩子
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - name
                - sex
                - extInfo
              properties:
                customerId:
                  description: 客户ID
                  type: string
                name:
                  description: 孩子姓名
                  type: string
                nickname:
                  description: 孩子昵称
                  type: string
                avatar:
                  description: 孩子头像地址
                  type: string
                sex:
                  description: 孩子性别
                  type: integer
                  enum:
                    - 0
                    - 1
                birth:
                  required:
                    - birthYear
                  type: object
                  properties:
                    birthYear:
                      type: string
                      description: 出生年份
                    birthMonth:
                      type: string
                      description: 出生月分
                    birthDay:
                      type: string
                      description: 出生日期
                extInfo:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                        description: 属性名
                      value:
                        type: string
                        description: 属性值
      responses:
        '200':
          description: 创建结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        properties:
                          studentId:
                            type: integer
                            format: int64
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码
            * `25002` - 姓名已存在
            * `25003` - 信息同步失败
  /edu/student/getChildren:
    post:
      operationId: Student_getChildren
      summary: 获取孩子
      description: 商户可通过该接口获取 customer 关联的所有孩子
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - customerId
              type: object
              properties:
                customerId:
                  type: string
                  description: 客户 id
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        description: 读取结果
                        properties:
                          children:
                            description: 孩子列表
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - name
                                - number
                                - sex
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                name:
                                  type: string
                                  description: 姓名
                                nickname:
                                  type: string
                                  description: 昵称
                                avatar:
                                  type: string
                                  description: 头像地址
                                sex:
                                  type: integer
                                  enum:
                                    - 0
                                    - 1
                                  description: |-
                                    性别
                                    * `0` - 男
                                    * `1` - 女
                                birth:
                                  description: 生日信息
                                  type: object
                                  $ref: '#/paths/~1edu~1student~1create/post/requestBody/content/application~1json/schema/properties/birth'
                                extInfo:
                                  type: array
                                  description: 附加属性
                                  items:
                                    $ref: '#/paths/~1edu~1student~1create/post/requestBody/content/application~1json/schema/properties/extInfo/items'
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
  /edu/student/listClassStudent:
    post:
      operationId: Student_listClassStudent
      summary: 获取班级学员列表
      description: 获取指定班级的学员列表
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - classId
                - page
                - size
              properties:
                classId:
                  description: 班级ID
                  type: integer
                  format: int64
                page:
                  description: 页码
                  type: integer
                size:
                  description: 每页条数
                  type: integer
      responses:
        '200':
          description: 学员列表结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - count
                          - students
                        properties:
                          count:
                            type: integer
                            format: int64
                            description: 总数
                          students:
                            type: array
                            items:
                              $ref: '#/paths/~1edu~1student~1getByCustomer/post/responses/200/content/application~1json/schema/oneOf/0/properties/result/properties/students/items'
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /edu/teacher/getByLocation:
    post:
      operationId: Teacher_getByLocation
      summary: 获取门店教师
      description: 商户可通过该接口获取指定门店的所有教师
      tags:
        - 教务
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locationId:
                  type: integer
                  description: 门店id
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: object
                    description: 读取结果
                    properties:
                      teachers:
                        description: 教师列表
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - name
                            - title
                          properties:
                            id:
                              type: integer
                              format: int64
                            staffId:
                              type: integer
                              format: int64
                              description: 关联的员工id
                            name:
                              type: string
                              description: 姓名
                            avatar:
                              type: string
                              description: 头像地址
                            sex:
                              type: integer
                              enum:
                                - 0
                                - 1
                              description: |-
                                性别，注意教师性别常量和学员不同
                                * `1` - 男
                                * `2` - 女
                                * `3` - 其他
                            introduction:
                              type: string
                              description: 简介
                            title:
                              type: string
                              description: 职称
  /customer/getByMobile:
    post:
      operationId: Customer_getByMobile
      summary: 根据手机号获取客户信息
      description: 根据手机号获取客户信息
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  description: 手机号
                  type: string
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - id
                          - mobile
                        properties:
                          id:
                            type: string
                          mobile:
                            type: string
                          unionid:
                            type: string
                          avatar:
                            type: string
                            description: 用户头像
                          realName:
                            type: string
                          nickName:
                            type: string
                            description: 用户名称
                          birth:
                            type: string
                            format: date
                          countryCode:
                            type: string
                            description: 手机国家码
                          province:
                            type: string
                            description: 省
                          city:
                            type: string
                            description: 市
                          district:
                            type: string
                            description: 区
                          address:
                            type: string
                            description: 详细地址
                          career:
                            type: string
                            description: 职业
                          extProps:
                            type: object
                            additionalProperties:
                              type: any
                          gender:
                            type: integer
                            enum:
                              - 1
                              - 2
                              - 3
                            description: |
                              * `1` -- 男
                              * `2` -- 女
                              * `3` -- 其他
                          createTime:
                            type: string
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /customer/registerByMobile:
    post:
      operationId: registerByMobile
      summary: 根据手机号注册新客户
      description: 商户在获取手机号后，如果发现智店没有该客户，可以使用本接口注册一个新客户
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - mobile
              type: object
              properties:
                mobile:
                  description: 手机号
                  type: string
                countryCode:
                  description: 国家码，如 +86
                  type: string
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        properties:
                          customerId:
                            type: string
                            description: 客户 id
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /customer/getExtProps:
    post:
      operationId: Customer_getProps
      summary: 获取自定义属性
      description: 获取所有自定义属性列表
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 属性列表
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        properties:
                          props:
                            type: array
                            description: 属性列表
                            items:
                              required:
                                - name
                                - key
                                - type
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: 属性名
                                key:
                                  type: string
                                  description: 属性key
                                type:
                                  type: int
                                  enum:
                                    - 0
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                                    - 8
                                    - 9
                                    - 10
                                    - 11
                                    - 12
                                  description: |-
                                    属性类型
                                    * `0` boolean
                                    * `1` 数值(整数)
                                    * `2` 文本
                                    * `3` 日期(不含时间)
                                    * `4` 日期(含时间)
                                    * `5` 手机号码
                                    * `6` 邮箱
                                    * `8` 数字(只包含数字文本)
                                    * `9` 选项
                                    * `10` 多选
                                    * `11` 图片地址
                                    * `12` 长文本
                                enumValues:
                                  type: object
                                  description: 枚举值说明（单选和多选选项）
                                  example:
                                    '1': 男
                                    '2': 女
                                    '3': 其他
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /customer/list:
    post:
      operationId: Customer_list
      summary: 获取客户列表
      description: 分批获取客户列表
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - size
              properties:
                size:
                  description: 每次获取记录数量
                  type: integer
                startCursor:
                  description: 开始位置格式为 createTime|id 不传表示从头开始
                  type: string
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - customers
                          - nextCursor
                        properties:
                          customers:
                            type: array
                            items:
                              $ref: '#/paths/~1customer~1getByMobile/post/responses/200/content/application~1json/schema/oneOf/0/properties/result'
                          nextCursor:
                            type: string
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
  /customer/updateProps:
    post:
      operationId: Customer_updateProps
      summary: 更新客户属性
      description: 传入属性key和值更新客户属性
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
              type: object
              properties:
                id:
                  description: 客户id
                  type: string
                fields:
                  description: |-
                    须更新的内置属性 `{"key1": value1, "key2":value2}` (json object 格式)。支持更新的属性
                    * `realName` 真实姓名
                    * `remarkName` 用户备注
                    * `gender` 性别
                    * `birth` 生日
                    * `province` 省
                    * `city` 市
                    * `district` 区
                    * `adress` 地址
                    * `nickName` 昵称
                    * `avatar` 头像
                  type: object
                  additionalProperties:
                    type: any
                extFields:
                  type: object
                  additionalProperties:
                    type: any
                  description: '须更新的自定义属性 `{"key1": value1, "key2":value2}` (json object 格式)。支持更新的属性可通过获取自定义属性接口读取'
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码
            * 23001 客户不存在
            * 23003 属性不存在或不支持更新
            * 23004 属性值格式错误
  /booking/getServiceDetail:
    post:
      operationId: Booking_getServiceDetail
      summary: 获取预约服务详情
      description: 获取预约服务的详细信息
      tags:
        - 预约
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  description: 预约服务id
                  type: integer
                  format: int64
      responses:
        '200':
          description: 预约详情结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum: true
                      result:
                        type: object
                        required:
                          - id
                          - name
                          - groups
                        properties:
                          id:
                            type: integer
                            format: int64
                            description: 预约服务 id
                          name:
                            type: string
                            description: 预约服务名称
                          groups:
                            type: array
                            description: 预约服务关联的场地，资源，人员列表
                            items:
                              type: object
                              required:
                                - index
                                - itemType
                                - options
                              properties:
                                index:
                                  type: integer
                                  description: 关联组索引
                                options:
                                  type: array
                                  description: 关联组规格
                                  items:
                                    $ref: '#/paths/~1booking~1getSpans/post/requestBody/content/application~1json/schema/properties/options/items/properties/option'
                                itemType:
                                  type: integer
                                  enum:
                                    - 0
                                    - 1
                                  description: |-

                                    关联的资源类型
                                    `0`:关联人员或资源
                                    `1`:关联场地
                          bookingFields:
                            type: array
                            description: 预约填写字段
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                  description: 字段 id
                                name:
                                  type: string
                                  description: 字段类型
                                required:
                                  type: boolean
                                  description: 是否必填
                                type:
                                  type: integer
                                  enum:
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 9
                                    - 10
                                    - 11
                                    - 12
                                  description: |-

                                    字段类型
                                    - `2`: 文本
                                    - `3`: 日期
                                    - `4`: 时间
                                    - `5`: 手机
                                    - `6`: 邮箱
                                    - `9`: 单选
                                    - `10`: 多选
                                    - `11`: 图片
                                    - `12`: 长文本
                          bindServices:
                            type: array
                            description: 预约服务关联的服务项目
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: 服务项目 id
                                name:
                                  type: string
                                  description: 服务项目名称
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
  /booking/getServiceList:
    post:
      operationId: Booking_getServiceList
      summary: 获取预约服务列表
      description: 获取满足条件的门店预约服务列表
      tags:
        - 预约
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - locationId
              properties:
                locationId:
                  description: 门店id
                  type: integer
                  format: int64
      responses:
        '200':
          description: 预约详情结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum: true
                      result:
                        type: object
                        required:
                          - services
                        properties:
                          services:
                            type: array
                            description: 预约服务列表
                            items:
                              type: object
                              required:
                                - id
                                - locationId
                                - name
                                - pics
                              properties:
                                id:
                                  type: integer
                                  format: int64
                                  description: 预约服务id
                                locationId:
                                  type: integer
                                  format: int64
                                  description: 门店id
                                name:
                                  type: 'string,'
                                  description: 预约服务名称
                                sortNo:
                                  type: integer
                                  description: 排序权重
                                pics:
                                  type: array
                                  description: 预约服务图片
                                  items:
                                    type: string
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
  /booking/getSpans:
    post:
      operationId: Booking_getSpans
      summary: 获取预约时刻表
      description: 根据日期获取预约时刻表
      tags:
        - 预约
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - locationId
                - serviceId
                - date
              properties:
                locationId:
                  type: integer
                  format: int64
                  description: 门店 id
                serviceId:
                  type: integer
                  format: int64
                  description: 预约服务id
                date:
                  type: string
                  format: date
                  description: 日期
                options:
                  type: array
                  description: 关联组规格
                  items:
                    type: object
                    required:
                      - groupIndex
                      - option
                    properties:
                      groupIndex:
                        type: integer
                        description: 预约服务关联组索引
                      option:
                        type: object
                        required:
                          - optionId
                          - optionName
                        properties:
                          optionType:
                            type: integer
                            enum:
                              - 1
                            description: |-
                              规格类型
                              * `1` : 场地规格
                          optionId:
                            type: integer
                            description: 规格id
                          optionGroupId:
                            type: integer
                            description: 规格组id
                          optionName:
                            type: string
                            description: 规格名称
                          optionGroupName:
                            type: string
                            description: 规格组名称
      responses:
        '200':
          description: 时刻表
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - spans
                        properties:
                          spans:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                  description: 刻度key值
                                  example: '19:00'
                                status:
                                  type: integer
                                  enum:
                                    - 0
                                    - 1
                                    - 2
                                  description: |-
                                    状态
                                    - `0` 正常
                                    - `1`: 已过期
                                    - `2`: 已约完
                                remainCount:
                                  type: integer
                                  description: 剩余次数
                                originCount:
                                  type: integer
                                  description: 总数
  /booking/prepareBookingOrder:
    post:
      operationId: Booking_prepareBookingOrder
      summary: 获取下单信息
      description: 获取预约下单信息（价格等）
      tags:
        - 预约
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - bookingServiceId
                - date
                - timeSpans
                - withCardDiscount
              properties:
                customerId:
                  type: string
                  description: 客户id
                bookingServiceId:
                  type: integer
                  format: int64
                  description: 预约服务id
                date:
                  type: string
                  format: date
                  example: '2000-01-01'
                customer:
                  type: object
                  description: '预约客户信息,不传则使用系统客户信息'
                  required:
                    - name
                    - mobile
                  properties:
                    name:
                      type: string
                      description: 姓名
                    mobile:
                      type: string
                      description: 手机号
                    gender:
                      type: integer
                      enum:
                        - 1
                        - 2
                        - 3
                      description: |-
                        性别
                        - `1` 男
                        - `2` 女
                        - `3` 其他
                timeSpans:
                  type: array
                  description: 刻度key值
                  items:
                    type: string
                  example:
                    - '19:00'
                    - '20:00'
                services:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        format: int64
                        description: 服务项目id
                      count:
                        type: string
                        example: '1.25'
                        description: 服务项目数量（服务项目可以选择数量时传入）
                quantity:
                  type: integer
                  description: 预约的数量
                options:
                  type: array
                  description: 指定的预约关联组规格
                  items:
                    $ref: '#/paths/~1booking~1getSpans/post/requestBody/content/application~1json/schema/properties/options/items'
                withCardDiscount:
                  type: boolean
                  description: 是否使用会员折扣
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        properties:
                          originalFee:
                            type: integer
                            description: 预约服务原价， 单位（分）
                          discountFee:
                            type: integer
                            description: 预约服务会员价， 单位（分），没有表示没有会员折扣
                          netFee:
                            type: integer
                            description: 预约服务价格（除去所有优惠）
                          payAmount:
                            type: integer
                            description: |-

                              预约订单支付的价格
                              - 全款预约则为 netFee
                              - 定金模式则为定金金额
                              - 不开启付费预约则为0
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-

            错误码
            * `26008` 客户在黑名单中
            * `26009` 可预约库存发生变化
            * `26010` 客户不满足预约条件
            * `26011` 客户储值余额不足
            * `26012` 未到开始预约时间
            * `26013` 已停止预约
            * `26014` 无效会员卡折扣
            * `26015` 无效优惠券
  /booking/createBookingOrder:
    post:
      operationId: Booking_createBookingOrder
      summary: 创建预约订单
      description: 根据下单信息创建订单
      tags:
        - 预约
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - prepare
                - feeInfo
                - extraFields
              properties:
                prepare:
                  description: 预约服务信息
                  $ref: '#/paths/~1booking~1prepareBookingOrder/post/requestBody/content/application~1json/schema'
                feeInfo:
                  description: 预约订单信息
                  $ref: '#/paths/~1booking~1prepareBookingOrder/post/responses/200/content/application~1json/schema/oneOf/0/properties/result'
                extraFields:
                  type: array
                  description: 预约填写字段
                  items:
                    type: object
                    required:
                      - id
                      - name
                      - value
                    properties:
                      id:
                        type: integer
                        format: int64
                        description: 字段 id
                      name:
                        type: string
                        description: 字段名称
                      value:
                        type: any
                        description: 预约字段值
                expireMinutes:
                  type: int
                  description: 订单多久后过期
                skipPriceCheck:
                  type: boolean
                  description: 不再校验价格，商户需自己保证价格安全
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - bookingOrderId
                properties:
                  bookingOrderId:
                    type: string
                    description: 预约订单 id
                  orderId:
                    type: string
                    description: '订单id, 需要支付时返回'
        default:
          description: |-
            错误码
            * `26001` 预约服务不存在
            * `26002` 预约客户不存在
            * `26003` 预约门店不存在
            * `26004` 预约参数非法
            * `26005` 锁场信息为空
            * `26007` 获取场地计费信息错误
            * `26008` 客户在黑名单中
            * `26009` 可预约库存发生变化
            * `26010` 客户不满足预约条件
            * `26011` 客户储值余额不足
            * `26012` 未到开始预约时间
            * `26013` 已停止预约
            * `26014` 无效会员卡折扣
            * `26015` 无效优惠券
  /booking/confirmPay:
    post:
      operationId: bookingConfirmPay
      summary: 确认支付成功
      description: 商户系统确认支付成功后通过该接口修改智店预约订单状态
      tags:
        - 预约
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - bookingOrderId
                - payTime
                - payType
              properties:
                orderId:
                  type: string
                  description: 订单号
                bookingOrderId:
                  description: 预约单号
                  type: string
                payTime:
                  description: 用户支付时间
                  type: string
                  example: '2000-01-01 00:00:00'
                payType:
                  description: 支付方式，对应智店后台自定义支付方式
                  type: string
                  example: 自定义收款方式
      responses:
        '200':
          description: 订单确认结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
            * `26022` - 预约订单不存在
            * `26023` - 订单不存在
            * `26024` - 订单状态错误
  /booking/cancelOrder:
    post:
      operationId: bookingCancelOrder
      summary: 取消预约
      description: 用户预约成功后取消预约
      tags:
        - 预约
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - bookingOrderId
                - reason
              properties:
                customerId:
                  type: string
                  description: 客户id
                bookingOrderId:
                  description: 预约单号
                  type: string
                reason:
                  description: 取消原因
                  type: string
      responses:
        '200':
          description: 取消结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
            * `26022` - 预约订单不存在
            * `26002` - 客户不存在
  /booking/closeOrder:
    post:
      operationId: bookingCloseOrder
      summary: 关闭订单
      description: 用户关闭未支付的预约订单
      tags:
        - 预约
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - bookingOrderId
              properties:
                customerId:
                  type: string
                  description: 客户id
                bookingOrderId:
                  description: 预约单号
                  type: string
      responses:
        '200':
          description: 关闭结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |
            错误码
            * `26022` - 预约订单不存在
            * `26002` - 客户不存在
  /booking/getBookingOrder:
    post:
      operationId: Booking_getBookingOrder
      summary: 获取预约订单
      description: 根据预约订单id获取预约订单的详细信息
      tags:
        - 预约
      requestBody:
        content:
[...]
