openapi: 3.0.0
info:
  version: 1.0.0
  title: 智店开放接口
  description: 智店开放接口，助力商户实现系统深度融合
  contact:
    name: service@dripower.com
    url: 'https://zd.drip.im'
    email: service@dripower.com
servers:
  - url: 'https://zd.drip.im/open/zd'
tags:
  - name: 开放接口

paths:
  /score/get:
    post:
      operationId: Score_get
      summary: 获取客户积分
      description: 根据手机号获取客户当前积分
      tags:
        - 积分
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  description: 手机号
                  type: string
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - score
                          - scoreSum
                        properties:
                          score:
                            type: integer
                            description: 当前剩余积分
                          scoreSum:
                            type: integer
                            description: 累计获得积分
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /score/mutate:
    post:
      operationId: Score_mutate
      summary: 修改客户积分
      description: 根据手机号修改客户当前积分
      tags:
        - 积分
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile
                - mutateType
                - score
              properties:
                mobile:
                  description: 手机号
                  type: string
                mutateType:
                  type: integer
                  enum:
                    - -1
                    - 1
                  description: |-
                    修改类型
                    * `-1` 减积分
                    * `1` 加积分
                score:
                  type: integer
                  description: 增减积分数量
                remark:
                  type: string
                  description: 备注
      responses:
        '200':
          description: 操作结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - recordId
                        properties:
                          recordId:
                            type: integer
                            description: 积分修改记录id
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            错误码
            * `22001` 积分客户不不存在
            * `22002` 增减积分类型错误
            * `22003` 修改积分失败
  /score/listRecord:
    post:
      operationId: Score_listRecord
      summary: 获取积分记录
      description: 根据手机号获取客户积分变更记录
      tags:
        - 积分
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile
                - page
              properties:
                mobile:
                  description: 手机号
                  type: string
                page:
                  description: 页码
                  type: integer
      responses:
        '200':
          description: 积分记录结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                        required:
                          - records
                        properties:
                          records:
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - source
                                - mutateType
                                - score
                              properties:
                                id:
                                  type: integer
                                  description: 记录id
                                source:
                                  type: integer
                                  enum:
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                                    - 8
                                    - 9
                                    - 10
                                    - 11
                                    - 12
                                    - 13
                                    - 14
                                    - 15
                                    - 16
                                  description: |-
                                    来源 * `1` 积分商城兑换
                                    * `2` 管理操作
                                    * `3` 会员升级
                                    * `4` 邀请开卡
                                    * `5` 储值奖励
                                    * `6` 积分导入
                                    * `7` 预约
                                    * `8` 收款
                                    * `9` 次卡购买
                                    * `10` 商城下单抵扣
                                    * `11` 拼团购买奖励
                                    * `12` 商城购买奖励
                                    * `13` 商城订单退款
                                    * `14` 消费补录
                                    * `15` 取消兑换礼品
                                    * `16` 接口写入
                                mutateType:
                                  $ref: '#/paths/~1score~1mutate/post/requestBody/content/application~1json/schema/properties/mutateType'
                                score:
                                  type: integer
                                  description: 积分数量
                                remark:
                                  type: string
                                  description: 备注
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: 错误码
  /order/confirmBooking:
    post:
      operationId: Order_confirmBooking
      summary: 预约订单开单
      description: 客户到店会开始服务时开单
      tags:
        - 订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - staffMobile
              properties:
                staffMobile:
                  type: string
                  description: 开单员工手机号码
                orderId:
                  description: 订单id（注意不是预约单号）
                  type: string
      responses:
        '200':
          description: 开单确认结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            * `20001` 订单不存在
            * `20002` 员工不存在
            * `20004` 订单状态错误
            * `20006` 订单已开单或已自提
  /order/confirmPickUp:
    post:
      operationId: Order_confirmPickUp
      summary: 确认自提/核销
      description: 客户自提服务结束后变更订单状态
      tags:
        - 订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - name
                - mobile
              properties:
                orderId:
                  description: 订单id（注意不是预约单号）
                  type: string
                name:
                  type: string
                  description: 自提人姓名
                mobile:
                  type: string
                  description: 自提人手机号码
                staffMobile:
                  type: string
                  description: 操作员工手机号码
                remark:
                  type: string
                  description: 备注
      responses:
        '200':
          description: 开单确认结果
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      result:
                        type: object
                  - $ref: '#/paths/~1tcard~1use/post/responses/200/content/application~1json/schema/oneOf/1'
        default:
          description: |-
            * `20001` 订单不存在
            * `20002` 员工不存在
            * `20003` 发货类型错误
            * `20004` 订单状态错误
            * `20005` 订单类型错误
  /order/queryByCustomer:
    post:
      tags:
        - 订单
      summary: 根据客户查询订单列表
      operationId: order_queryByCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - types
                - page
                - size
              properties:
                customerId:
                  type: string
                  description: 客户ID
                type:
                  type: integer
                  description: |
                    订单类型

                      10 = 会员卡购买

                      11 = 会员卡升级

                      12 = 储值

                      13 = 预约

                      14 = 会员卡续费

                      15 = 次卡购买-自助

                      16 = 线下收银

                      18 = 次卡购买-商家移动端售卖

                      19 = 商城购买

                      20 = 拼团

                      21 = 消费补录

                      22 = 线上购买课程

                      24 = 积分兑换

                      25 = 跨店下单

                      26 = 门禁（会员）

                      29 = 赛事报名

                      30 = 班级报名

                      34 = 自助售票机

                      37 = 开台

                      39 = 手牌消费
                subType:
                  type: integer
                  format: int32
                  description: |
                    收银订单子类型:

                    null (普通收银订单)

                    1 (收银出票订单)

                    2 (收银超时补费)

                    3 (补费机超时补费)

                    4,5,...(其他类型)
                payType:
                  type: integer
                  format: int32
                  description: |
                    支付方式

                      1 = 微信

                      2 = 支付宝

                      3 = 现金

                      4 = 银联

                      5 = 储值卡

                      6 = 外部自定义支付

                      7 = 押金
                page:
                  type: integer
                  format: int32
                size:
                  type: integer
                  format: int32
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: array
                    items:
                      type: object
                      description: 订单通知对象
                      required:
                        - id
                        - status
                        - type
                        - originalFee
                        - payFee
                      properties:
                        id:
                          type: string
                        customer:
                          type: object
                          required:
                            - id
                            - name
                            - mobile
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            mobile:
                              type: string
                        extOuterId:
                          type: string
                        extTradeNo:
                          type: string
                        status:
                          type: integer
                          format: int32
                        type:
                          type: integer
                          format: int32
                          description: |
                            订单类型
                              10 = 会员卡购买

                              11 = 会员卡升级

                              12 = 储值

                              13 = 预约

                              14 = 会员卡续费

                              15 = 次卡购买-自助

                              16 = 线下收银

                              18 = 次卡购买-商家移动端售卖

                              19 = 商城购买

                              20 = 拼团

                              21 = 消费补录

                              22 = 线上购买课程

                              24 = 积分兑换

                              25 = 跨店下单

                              26 = 门禁（会员）

                              29 = 赛事报名

                              30 = 班级报名

                              34 = 自助售票机

                              37 = 开台

                              39 = 手牌消费
                        subType:
                          type: integer
                          format: int32
                        payType:
                          type: integer
                          format: int32
                          description: |
                            支付方式
                              1 = 微信

                              2 = 支付宝

                              3 = 现金

                              4 = 银联

                              5 = 储值卡

                              6 = 外部自定义支付

                              7 = 押金
                        staffId:
                          type: integer
                          format: int64
                        staffName:
                          type: string
                        info:
                          type: object
                          required:
                            - items
                            - detail
                          properties:
                            items:
                              type: array
                              items:
                                type: object
                                required:
                                  - id
                                  - name
                                  - img
                                  - quantity
                                  - originalUnitPrice
                                  - discountUnitPrice
                                  - modifiedUnitPrice
                                  - originalTotalFee
                                  - discountTotalFee
                                  - opts
                                properties:
                                  id:
                                    type: integer
                                    format: int64
                                  name:
                                    type: string
                                  img:
                                    type: string
                                  quantity:
                                    type: number
                                  originalUnitPrice:
                                    type: integer
                                    format: int64
                                  discountUnitPrice:
                                    type: integer
                                    format: int64
                                  modifiedUnitPrice:
                                    type: integer
                                    format: int64
                                  originalTotalFee:
                                    type: integer
                                    format: int64
                                  discountTotalFee:
                                    type: integer
                                    format: int64
                                  opts:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                        - optId
                                        - optName
                                        - optValueId
                                        - optValue
                                      properties:
                                        optId:
                                          type: integer
                                          format: int64
                                        optName:
                                          type: string
                                        optValueId:
                                          type: integer
                                          format: int64
                                        optValue:
                                          type: string
                            detail:
                              type: object
                              description: 订单详情
                              oneOf:
                                - type: object
                                  required:
                                    - Groupon
                                  properties:
                                    Groupon:
                                      type: object
                                      description: 拼团订单
                                      required:
                                        - buyMode
                                        - isLeaderOrder
                                      properties:
                                        buyMode:
                                          type: integer
                                          format: int32
                                        isLeaderOrder:
                                          type: boolean
                                - type: object
                                  required:
                                    - Booking
                                  properties:
                                    Booking:
                                      type: object
                                      required:
                                        - serviceName
                                        - serviceTitle
                                        - serviceImg
                                        - startAt
                                        - endAt
                                        - classInfo
                                      properties:
                                        serviceName:
                                          type: string
                                        serviceTitle:
                                          type: string
                                        serviceImg:
                                          type: string
                                        startAt:
                                          type: string
                                          format: date-time
                                        endAt:
                                          type: string
                                          format: date-time
                                        classInfo:
                                          type: object
                                          required:
                                            - courseName
                                            - teacherIds
                                            - teacherNames
                                            - classroomName
                                          properties:
                                            courseName:
                                              type: string
                                            teacherIds:
                                              type: array
                                              items:
                                                type: integer
                                                format: int64
                                            teacherNames:
                                              type: array
                                              items:
                                                type: string
                                            classroomName:
                                              type: string
                                - type: object
                                  required:
                                    - Shop
                                  properties:
                                    Shop:
                                      type: object
                                      description: 商城订单
                                - type: object
                                  required:
                                    - Cashier
                                  properties:
                                    Cashier:
                                      description: 收银订单
                                      type: object
                                - type: object
                                  required:
                                    - OfflineTickets
                                  properties:
                                    OfflineTickets:
                                      description: 线下售票
                                      type: object
                        deliveryType:
                          type: integer
                          format: int32
                        delivery:
                          type: object
                          description: Delivery info of the order encoded as a nested ADT wrapper
                          oneOf:
                            - type: object
                              required:
                                - Postage
                              properties:
                                Postage:
                                  type: object
                                  description: 邮寄地址
                                  required:
                                    - name
                                    - mobile
                                    - country
                                    - province
                                    - city
                                    - region
                                    - detail
                                  properties:
                                    name:
                                      type: string
                                    mobile:
                                      type: string
                                    country:
                                      type: string
                                    province:
                                      type: string
                                    city:
                                      type: string
                                    region:
                                      type: string
                                    detail:
                                      type: string
                            - type: object
                              required:
                                - PickUp
                              properties:
                                PickUp:
                                  type: object
                                  description: 到店自提
                                  required:
                                    - name
                                    - mobile
                                  properties:
                                    name:
                                      type: string
                                    mobile:
                                      type: string
                                    locationInfo:
                                      type: object
                                      description: 门店/自提点信息
                                      required:
                                        - id
                                        - name
                                        - address
                                        - businessTime
                                        - mobile
                                      properties:
                                        id:
                                          type: integer
                                          format: int64
                                        name:
                                          type: string
                                        address:
                                          type: string
                                        businessTime:
                                          type: string
                                        mobile:
                                          type: string
                                        type:
                                          type: integer
                                          format: int32
                                          description: '1-门店, 2-自提点'
                            - type: object
                              required:
                                - CheckInStore
                              properties:
                                CheckInStore:
                                  type: object
                                  description: 到店支付/核销
                                  required:
                                    - name
                                    - mobile
                                  properties:
                                    name:
                                      type: string
                                    mobile:
                                      type: string
                                    locationInfo:
                                      $ref: '#/paths/~1order~1queryByCustomer/post/responses/200/content/application~1json/schema/properties/result/items/properties/delivery/oneOf/1/properties/PickUp/properties/locationInfo'
                            - type: object
                              required:
                                - ToHome
                              properties:
                                ToHome:
                                  type: object
                                  description: 上门到家
                                  required:
                                    - name
                                    - mobile
                                    - country
                                    - province
                                    - city
                                    - region
                                    - detail
                                  properties:
                                    name:
                                      type: string
                                    mobile:
                                      type: string
                                    country:
                                      type: string
                                    province:
                                      type: string
                                    city:
                                      type: string
                                    region:
                                      type: string
                                    detail:
                                      type: string
                                    houseNumber:
                                      type: string
                                    addressName:
                                      type: string
                                    longitude:
                                      type: number
                                      format: double
                                    latitude:
                                      type: number
                                      format: double
                            - type: object
                              required:
                                - EatInStore
                              properties:
                                EatInStore:
                                  type: object
                                  description: 堂食
                                  required:
                                    - tableId
                                    - tableName
                                  properties:
                                    tableId:
                                      type: integer
                                      format: int64
                                    tableName:
                                      type: string
                                    tableRemark:
                                      type: string
                          additionalProperties: false
                        originalFee:
                          type: integer
                          format: int64
                        payFee:
                          type: integer
                          format: int64
                        payTime:
                          type: string
                          format: date-time
                        payResult:
                          type: object
                          required:
                            - payType
                            - payOrderNo
                            - vendorPayNo
                          properties:
                            payType:
                              type: integer
                              format: int32
                              description: |
                                1 = 微信

                                2 = 支付宝

                                3 = 现金

                                4 = 银联

                                5 = 储值卡

                                6 = 外部自定义支付

                                7 = 押金
                            payOrderNo:
                              type: string
                            vendorPayNo:
                              type: string
  /order/countByCustomer:
    post:
      tags:
        - 订单
      summary: 根据客户查询订单数量
      operationId: order_countByCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - types
              properties:
                customerId:
                  type: string
                  description: 客户ID
                type:
                  type: integer
                  description: |
                    订单类型

                      10 = 会员卡购买

                      11 = 会员卡升级

                      12 = 储值

                      13 = 预约

                      14 = 会员卡续费

                      15 = 次卡购买-自助

                      16 = 线下收银

                      18 = 次卡购买-商家移动端售卖

                      19 = 商城购买

                      20 = 拼团

                      21 = 消费补录

                      22 = 线上购买课程

                      24 = 积分兑换

                      25 = 跨店下单

                      26 = 门禁（会员）

                      29 = 赛事报名

                      30 = 班级报名

                      34 = 自助售票机

                      37 = 开台

                      39 = 手牌消费
                subType:
                  type: integer
                  format: int32
                  description: |
                    收银订单子类型:

                    null (普通收银订单)

                    1 (收银出票订单)

                    2 (收银超时补费)

                    3 (补费机超时补费)

                    4,5,...(其他类型)
                payType:
                  type: integer
                  format: int32
                  description: |
                    支付方式

                      1 = 微信

                      2 = 支付宝

                      3 = 现金

                      4 = 银联

                      5 = 储值卡

                      6 = 外部自定义支付

                      7 = 押金
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  result:
                    type: integer
                    description: 数量
